@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F5F5F5;
  font-family: "Poppins", sans-serif;
}
main{
  min-height: 80vh;
}
h1,h2,h3,h4{
  color: #333;
}
.background{
  background-color: #F5F5F5;
}