@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F5F5F5;
  font-family: "Poppins", sans-serif;
}
main{
  min-height: 100vh;
}
h1,h2,h3,h4{
  color: #333;
}
.background{
  background-color: #F5F5F5;
}
.description-view {
  white-space: pre-wrap; /* Preserve whitespace and wrap text */
  overflow-wrap: break-word; /* Break long words to prevent overflow */
  word-break: break-word; /* Ensure words break to prevent overflow */
  max-height: 300px; /* Adjust as needed */
  overflow-y: auto; /* Add scroll if content overflows */
}
